{% extends "base-bar.html" %}
{% load static %}{% block style%}
<link rel="stylesheet" href="{% static 'css/form-reg.css' %}">
{% endblock %}
{% block title %} Registrasi Data Diri {% endblock %} {% block content %}

<div class="container">
  <div class="container">
    <div class="content-header">
      <a href="" class="content-header-back">
        <i class="fa-solid fa-chevron-left"></i>
        <p>Kembali</p>
      </a>
      <h2>Registrasi Data Diri</h2>
    </div>
    <span></span>
    <div class="content-ktp">
      <p>
        Lengkapi seluruh formulir untuk dapat melanjutkan ke tahap selanjutnya. Informasi yang telah anda masukkan akan
        kami simpan dengan aman.
      </p>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-form">
      <span></span>
    </div>
    <div class="content-footer">
      <button>
        <a href="">Simpan dan Lanjutkan</a>
      </button>
    </div>
  </div>
</div>

{% endblock %}