{% extends "base-bar.html" %}
{% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/tracking.css' %}" />
<link rel="shortcut icon" href="{% static 'img/korlantas.png' %}" type="image/x-icon">
{% endblock %}
{% block title %} Pengiriman SIM {% endblock %}
{% block content %}

<div class="container">
  <div class="content-header">
    <a href="{% url 'Simply_Client:schedule' %}" class="content-header-back">
      <i class="fa-solid fa-chevron-left"></i>
      <p>Kembali</p>
    </a>
    <h2>Pengiriman SIM</h2>
  </div>
  <span></span>
  <div class="content-ktp">
    <p>Lengkapi seluruh dokumen kelengkapan untuk segera mendapatkan SIM. Informasi yang telah anda unggah akan kami
      simpan dengan aman.</p>
    <span></span>
    <h3>
      Asal Pengiriman
    </h3>
    <p>
      Satpas Colombo SIM (Surabaya)
    </p>
    <span></span>
    <h3>
      Tujuan Pengiriman
    </h3>
    <p>
      Jl. Bhaskara Utara IV No.12A, Kalisari, Kec.Mulyorejo
    </p>
    <p>
      Surabaya Jawa Timur 60112
    </p>
    <span></span>
    <h3>
      Status Pengiriman
    </h3>
    <p>
      <i class="fa-solid fa-location-dot"></i>Paket telah sampai di lokasi transit Sukolilo Hub
    </p>
  </div>
  <span></span>
  <div class="content-footer">
    <button>
      <a href="">Diterima</a>
    </button>
  </div>
</div>

{% endblock %}