{% extends "base-bar.html" %}
{% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/tracking.css' %}" />
{% endblock %}
{% block title %} Pengiriman SIM {% endblock %}
{% block content %}

<div class="container">
  <div class="content-header">
    <a href="" class="content-header-back">
      <i class="fa-solid fa-chevron-left"></i>
      <p>Kembali</p>
    </a>
    <h2>Pengiriman SIM</h2>
  </div>
  <span></span>
  <div class="content-ktp">
    <p>Lengkapi seluruh dokumen kelengkapan untuk segera mendapatkan SIM. Informasi yang telah anda unggah akan kami
      simpan dengan aman.</p>
  </div>
  <span></span>
</div>

{% endblock %}