{% extends "base-bar.html" %}
{% load static %}{% block style%}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block title %} Upload Dokumen {% endblock %} {% block content %}

<div class="container">
  <div class="content-header">
    <i class="fa-solid fa-chevron-left">Kembali</i>
    <h3>Unggah DOkumen Kelengkapan</h3>
  </div>
  <span></span>
  <div class="content-ktp">
    <p>
      Lengkapi seluruh dokumen kelengkapan untuk segera mendapatkan SIM. Informasi yang telah anda unggah akan kami
      simpan dengan aman.
    </p>
    <div class="content-ktp-note">
      <div class="warning">
        Pastikan untuk menggunggah dokumen sesuai ketentuan!
      </div>
      <p>
        Kesalahan unggah dokumen akan berakibat pembatalan pembuatan SIM
      </p>
      <p>
        Pemalsuan dokumen dapat berakibat pembatalan pembuatan SIM
      </p>
    </div>
    <div class="content-ktp-upload">
      <h1>
        Kartu Tanda Penduduk
      </h1>
      <p>
        Unggah foto KTP dalam format PDF dengan ukuran maksimal 10MB
      </p>
      <form action="" method="post" enctype="multipart/form-data"></form>
    </div>
    <div class="content-ktp-upload">
      <h1>
        Surat Keterangan Sehat
      </h1>
      <p>
        Unggah Surat Keterangan Sehat dalam format PDF dengan ukuran maksimal 10MB
      </p>
      <form action="" method="post" enctype="multipart/form-data"></form>
    </div>
    <div class="content-ktp-upload">
      <h1>
        Pas Foto 3x4
      </h1>
      <p>
        Unggah pas foto dalam format PDF dengan ukuran maksimal 10MB
      </p>
      <form action="" method="post" enctype="multipart/form-data"></form>
    </div>
    <div class="content-ktp-upload">
      <h1>
        Tanda Tangan Digital
      </h1>
      <p>
        Unggah tanda tangan digital anda dalam format pdf dengan ukuran maksimal 10MB
      </p>
      <form action="" method="post" enctype="multipart/form-data"></form>
    </div>
    <span></span>
    <div class="content-footer">
      <input type="submit" value="Simpan dan Lanjutkan" />
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}