{% extends "base-bar.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/validation.css' %}" />
{% endblock %} {% block title %} Document Validation {% endblock %}

<div class="container">
    <div class="content-header">
        <a href="" class="content-header-back">
            <i class="fa-solid fa-chevron-left"></i>
            <p>Kembali</p>
        </a>
        <h2>Validasi Dokumen</h2>
    </div>
    <span></span>
    <div class="content-ktp">

    </div>
</div>