{% extends "base-bar.html" %}
{% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/validation.css' %}" />
{% endblock %}
{% block title %} Validasi Dokumen {% endblock %}
{% block content %}

<div class="container">
    <div class="content-header">
        <a href="" class="content-header-back">
            <i class="fa-solid fa-chevron-left"></i>
            <p>Kembali</p>
        </a>
        <h2>Validasi Dokumen</h2>
    </div>
    <span></span>
    <div class="content-ktp">
        <p>
            Dokumen akan diverifikasi/validasi dalam kurun waktu 2x24 jam. Lakukan pengecekan rutin agar informasi hasil
            tidak terlewat
        </p>
        <div class="content-ktp-note">
            <h4>Dokumen Masih Dalam Proses Validasi</h4>
        </div>
    </div>
    <span></span>
    <div class="content-footer">
        <button>
            <a href="{% url 'Simply_Client:schedule' %}">Lanjutkan</a>
        </button>
    </div>
</div>

{% endblock %}