* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: #fdeb32;
}

nav {
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 240px;
}

nav img {
    width: 150px;
    height: 50px;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #000;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    box-sizing: border-box;
}

nav a span {
    width: 0;
    height: 4px;
    background-color: #0E65D9;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.right-text-place {
    position: relative;
    display: flex;
    gap: 70px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
    box-sizing: border-box;
    padding: 50px 240px;
}

.main-footer {
    display: flex;
    box-sizing: border-box;
    align-items: start;
    gap: 200px;
    color: #fff;
}

.left-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.socmed-logo {
    display: flex;
    font-size: 24px;
    gap: 22px;
}

.column-flex-text {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 60px;
}

.tab-list {
    display: flex;
    flex-direction: column;
}

.tab-list a {
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
}