:root {
    --primary-color: #0E65D9;
    --dark-color: #141414;
    --greyish-color: #D9D9D9;
    --light-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--greyish-color);
    background: #FFF;
}

.container .content-header {
    padding: 30px 30px 10px 30px;
}


.container .content-header .content-header-back {
    text-decoration: none;
    color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.container .content-header .content-header-back i {
    font-size: 10px;
}

.container span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--greyish-color);
    margin: 10px 0;
}

.container .content-ktp {
    padding: 10px 30px 30px 30px;
}

.container .content-ktp p {
    line-height: 1.75em;
  }

.container .content-ktp h3 {
    text-align: center;
    margin-bottom: 10px;
}

.container .content-ktp .payment {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* content-footer */
.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 30px 30px;
}

.content-footer button {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--primary-color);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.content-footer button a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    font-size: 20px;
}

.content-footer button:hover {
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

.content-footer button:hover a {
    color: var(--primary-color);
}